{{define "head"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{template "title"}}</title>
<link rel="stylesheet" href="/static/styles/bootstrap.min.css">
{{end}}