{{define "scripts"}}
<script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts/popper.min.js"></script>
<script type="text/javascript" src="/static/scripts/bootstrap.min.js"></script>
{{end}}

