{{define "title"}}A templated page{{end}}

{{define "body"}}
<div class="container">
    <div class="text-center py-4">
        <h1>Hello from a templated page</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequuntur eum magni maxime necessitatibus nemo qui quos ullam unde. Commodi debitis eaque laudantium magni molestias nobis, pariatur praesentium sed?</p>
        <img src="/static/images/logo.png" alt="">
    </div>
</div>
{{end}}